 <h2>Tenant</h2>
 <fieldset>
 	
<h2>Contact Details</h2>
  	<%= f.fields_for :contact_detail do |builder|%>
		<%= render 'contact_details/contact_detail_fields', f: builder %>
	<% end %>
	
	
	
	<h2>Place Of Work</h2>
  	<%= f.fields_for :place_of_work do |builder|%>
		<%= render 'place_of_works/place_of_work_fields', f: builder %>
	<% end %>
 	
	
</fieldset>
