<p id="notice"><%= notice %></p>


<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>


<table>
	<tr>
		<th>Property Ref</th>
		<th>Property</th>
		<th>Price</th>
		<th>Occupied</th>
		<th>Date Available</th>
		<th>Beds</th>
		<th>Recp</th>
		<th>Furn</th>
		<th>Prt Furn</th>
		<th>DG</th>
		<th>CH</th>
		<th>B-Up</th>
		<th>B-Down</th>
		<th>Garage</th>
		<th>DW</th>
		<th>Tenants</th>
	</tr>
	<tr>
</table>
