  	
    	<%= f.input :contact_name %>
  	
    	<%= f.input :company_name %>

<h2>Contact Details</h2>
	<%= f.fields_for :contact_detail do |builder|%>
		<%= render 'contact_details/contact_detail_fields', f: builder %>
	<% end %>
	