<div class="row-fluid">
	 <div class="span2"></div>
	 <div class="span8">
	 	<%= @estate_agent.name%>
	</div>
	<div class="span2"></div>
</div>
		<%= render(@properties) || 'There are no properties available.'%>



